<!DOCTYPE html>
<html>
  <head>
      {{>headerlink}}
  </head>
  <body>
    {{>navbar}}
    <!---------- main header-->
    <div class="container-fluid main_header" >
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
        <div class="row">
         <!-------left side div-->
         <div class="col-md-10 col-12 main_header_left align-items-center">
          <figure class="errimg">
            <img src="images/error.svg" alt="anand" class="img-fluid" title="anand mishra" >
          </figure>
         
          <p>Welcome to Weathersite</p>
          <h1>{{errorMsg}}</h1>
          <a href="/"><button>Go back</button></a>
          </div>
          <!-------right side div-->
        
        </div>
        </div>
    </div>
</div>

<!---- Footer part -->
{{>footer}}
</body>
</html>